.app {
  font-family: sans-serif;
  text-align: center;
}

.answer-div {
  list-style: upper-alpha;
  float: right;
  padding-top: 20px;
  width: 60%;
  text-align: center;
  padding-left: 8%;
}

.options-li {
  list-style: upper-alpha;
  text-align: center;
  margin-left: 25%;
  text-align: initial;
  border: none;
}

.options-ul {
  list-style: none;
  margin-left: 30%;
}

.next-div {
  margin-left: 37vw;
  border: 1px solid;
  width: 25vw;

  display: block;
  margin-top: 25px;
  height: 50px;
  line-height: 50px;
}

.next-test {
  margin-left: 10vw;
  border: 1px solid;
  width: 25vw;
  display: block;
  margin-top: 25%;
  height: 50px;
  line-height: 50px;
}

.button-container {
  display: inline-flex;
  margin-top: -50px;
}

.retake-div {
  margin-left: 10vw;
  border: 1px solid;
  width: 25vw;
  display: block;
  margin-top: 25%;
  height: 50px;
  line-height: 50px;
}

.retake-div:hover {
  cursor: pointer;
}

.next-test:hover {
  cursor: pointer;
}

.options-li:hover {
  background: lightgray;
}

.main-contain {
  display: grid;
}
